body{
    background-color:rgb(27, 13, 68);
}

img{
    transition: 1.5s;
}

input:checked ~ img{
    display: none;
    /* opacity: 0; */
    /* visibility: hidden; */
}

#line_1, a[href]{
    color: aliceblue;
}

a:hover{
    color: brown;
}
a:active{
    color: aqua;
}

h1,
h2{
    color: brown;
    font-style: italic;
}
